.cases {
	margin-top: 100px;
	padding-bottom: 100px;
	&__container {
		&-image {
			width: 100%;
			overflow-y: hidden;
		}
	}
	&__title {
		margin-bottom: 40px;
		overflow: hidden;
		&-article {
			margin-top: 8px;
			color: var(--black-color);
			transition: color 0.5s ease;
			overflow: hidden;
			& .letter {
				opacity: 0;
			}
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		margin-bottom: 32px;
		gap: 31px;
	}
	&__item {
		pointer-events: none;
		position: relative;
		grid-column: 3 span;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		& .line-horizontal-top {
			display: none;
		}
		&:nth-child(-n + 4) {
			& .line-horizontal-top {
				display: block;
			}
		}
		&:nth-child(4n) {
			& .line-vertical-right {
				display: none;
			}
		}
		&:hover {
			color: var(--white-color);
			&::before {
				opacity: 1;
				visibility: visible;
			}
			& .cases {
				&__tag {
					border: 1px solid var(--white-color);
				}
				&__time {
					color: var(--white-color);
				}
				&__title {
					&-article {
						color: var(--white-color);
					}
				}
			}
		}
		&::before {
			content: "";
			position: absolute;
			inset: -17px;
			border-radius: 16px;
			background: var(--black-color);
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s ease-in, visibility 0.5s ease-in;
		}
		&-hidden {
			display: none;
		}
	}
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
	&__tag {
		padding: 4px 12px;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		border: 1px solid var(--black-color);
		border-radius: 30px;
		transition: color 0.5s ease, border 0.5s ease;
	}
	&__time {
		transition: color 0.5s ease;
		color: var(--2-grey-color);
	}
	&__button {
		width: 100%;
	}
}

@media (max-width: 1024px) {
	.cases {
		&__list {
			gap: 23px;
		}
		&__item {
			grid-column: 4 span;
			//old styles
			&:nth-child(-n + 4) {
				& .line-horizontal-top {
					display: none;
				}
			}
			&:nth-child(4n) {
				& .line-vertical-right {
					display: block;
				}
			}

			// new styles
			&:nth-child(-n + 3) {
				& .line-horizontal-top {
					display: block;
				}
			}
			&:nth-child(3n) {
				& .line-vertical-right {
					display: none;
				}
			}
			&::before {
				inset: -13px;
			}
		}
		& .line {
			&-vertical {
				&-right {
					right: -12px;
				}
			}
			&-horizontal {
				&-top {
					top: -12px;
				}
				&-bottom {
					bottom: -12px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.cases {
		margin-top: 60px;
		padding-bottom: 60px;
		&__list {
			gap: 23px;
		}
		&__item {
			grid-column: 6 span;

			//old styles
			&:nth-child(-n + 3) {
				& .line-horizontal-top {
					display: none;
				}
			}
			&:nth-child(3n) {
				& .line-vertical-right {
					display: block;
				}
			}

			// new styles
			&:nth-child(-n + 2) {
				& .line-horizontal-top {
					display: block;
				}
			}
			&:nth-child(2n) {
				& .line-vertical-right {
					display: none;
				}
			}
			&::before {
				inset: -13px;
			}
		}
		& .line {
			&-vertical {
				&-right {
					right: -11px;
				}
			}
			&-horizontal {
				&-top {
					top: -11px;
				}
				&-bottom {
					bottom: -11px;
				}
			}
		}
		&__image {
			width: 100%;
			overflow: hidden;
		}
	}
}
@media (max-width: 540px) {
	.cases {
		&__title {
			font-size: 70px;
			line-height: 70px;
		}
		&__list {
			column-gap: 0;
			row-gap: 47px;
		}
		&__item {
			grid-column: 12 span;
			// new styles
			&:nth-child(-n + 1) {
				& .line-horizontal-top {
					display: block !important;
				}
			}
			&:nth-child(1n) {
				& .line-vertical-right {
					display: none;
				}
			}
			//old styles
			&:nth-child(-n + 2) {
				& .line-horizontal-top {
					display: none;
				}
			}
			&:nth-child(2n) {
				& .line-vertical-right {
					display: none;
				}
			}

			&::before {
				inset: -13px;
			}
		}
		& .line {
			&-vertical {
				&-right {
					display: none;
				}
			}
			&-horizontal {
				&-top {
					display: none;
				}
				&-bottom {
					bottom: -24px;
				}
			}
		}
	}
}
