.client-1c {
	&__container {
		&-image {
			min-height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 18px;
		}
	}
	&__title {
		color: var(--3-blue-color);
		text-transform: uppercase;
		text-align: right;
		margin-bottom: 20px;
	}
	&__subtitle {
		text-transform: uppercase;
		text-align: right;
		margin-left: auto;
		margin-bottom: 82px;
		max-width: 700px;
		&-blue {
			color: var(--3-blue-color);
		}
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 40px;
	}
	&__item {
		grid-column: 4 span;
		text-align: center;
		position: relative;
	}
	&__text {
		max-width: 290px;
		margin: 0 auto;
	}
	& .line {
		&-vertical {
			&-right {
				right: -20px;
			}
		}
		&-horizontal {
			&-top {
				top: -20px;
			}
		}
	}
}

@media (max-width: 840px) {
	.client-1c {
		padding-top: 80px;
		margin-bottom: 50px;
	}
}

@media (max-width: 768px) {
	.client-1c {
		&__item {
			grid-column: 6 span;
			&:last-child {
				grid-column: 12 span;
			}
			&:first-child {
				& .line-vertical-right {
					display: block;
				}
			}
		}
		& .line-vertical-right {
			display: none;
		}
	}
}

@media (max-width: 480px) {
	.client-1c {
		padding-top: 40px;
		margin-bottom: 40px;
		&__title {
			font-size: 34px;
			line-height: 120%;
			margin-bottom: 12px;
			text-align: left;
		}
		&__subtitle {
			font-size: 18px;
			text-align: left;
			line-height: 140%;
			margin-bottom: 60px;
		}
		&__list {
			column-gap: 0;
		}
		&__item {
			grid-column: 12 span;
		}
		&:first-child {
			& .line-vertical-right {
				display: none;
			}
		}
	}
}

@media (max-width: 436px) {
	.client-1c {
		&__title {
			font-size: 30px;
		}
		&__subtitle {
			font-size: 16px;
		}
	}
}
