.contacts-1c {
	&__container {
		position: relative;
		&-pagination {
			width: 100%;
			display: flex;
			justify-content: center;
		}
		&-bottom {
			margin-top: 64px;
		}
	}
	&__slider {
		position: relative;
		margin: 0 auto;
		text-align: center;
		max-width: 690px;
	}
	&__address {
		color: var(--3-blue-color);
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 12px;
		font-size: 20px;
	}
	&__name {
		margin-bottom: 4px;
	}
	&__job {
		margin-bottom: 4px;
	}
	&__tel {
		margin-bottom: 22px;
	}
	&__link {
		color: var(--black-color);
		text-decoration: underline;
	}
	&__descr {
		max-width: 650px;
		margin: 0 auto;
		font-style: italic;
		margin-bottom: 12px;
	}
	&__button {
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		&-prev {
			transform: rotate(180deg);
		}
		&-faq {
			text-transform: uppercase;
			margin: 0 auto;
			margin-top: 60px;
			padding: 0 24px;
		}
	}
	&__svg {
		fill: var(--1-blue-color);
	}
	&__navigation {
		max-width: 782px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	&__pagination {
		display: block;
		position: relative;
		max-width: 460px;
		background-color: var(--1-grey-color);
		--swiper-theme-color: var(--1-blue-color);
		&::before,
		&::after {
			position: absolute;
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 22px;
			line-height: 120%;
			color: var(--black-color);
			top: 50%;
			transform: translateY(-50%);
		}
		&::before {
			content: "1";
			left: -44px;
		}
		&::after {
			content: attr(data-max-slides);
			right: -44px;
		}
	}
}

@media (max-width: 840px) {
	.contacts-1c {
		padding-top: 50px;
		margin-bottom: 80px;
	}
}

@media (max-width: 768px) {
	.contacts-1c {
		&__navigation {
			padding: 0 20px;
		}
	}
}

@media (max-width: 590px) {
	.contacts-1c {
		&__pagination {
			max-width: 80%;
			&::before {
				left: -30px;
			}
			&::after {
				right: -30px;
			}
		}
	}
}

@media (max-width: 480px) {
	.contacts-1c {
		padding-top: 70px;
		padding-bottom: 40px;
		&__navigation {
			top: 100%;
		}
	}
}

@media (max-width: 345px) {
	.contacts-1c {
		&__navigation {
			padding: 0 10px;
		}
	}
}
