.feedback {
	margin-top: 100px;
	min-height: 504px;
	&__container {
		min-height: inherit;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: 32px;
		&-doc {
			display: flex;
			align-items: flex-start;
			column-gap: 8px;
		}
		&-text {
			display: flex;
			flex-direction: column;
		}
		&-input {
			margin-bottom: 16px;
		}
	}
	&__side {
		position: relative;
		padding-bottom: 16px;
		&-left {
			grid-column: 5 span;
			height: 100%;
		}
		&-right {
			grid-column: 7 span;
		}
	}
	&__subtitle {
		max-width: 432px;
	}
	&__title {
		padding-top: 16px;
		margin-bottom: 16px;
		text-transform: uppercase;
		&-filename {
			word-break: break-all;
		}
		& .word:nth-last-child(-n + 3) {
			color: var(--1-blue-color);
		}
	}
	&__icon {
		&-close {
			min-width: 24px;
			min-height: 24px;
			margin-left: 8px;
		}
	}
	&__input {
		padding: 13px 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		border: 1px solid var(--1-grey-color);
		width: 100%;
		margin-bottom: 16px;
		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 24px;
			color: var(--black-color);
		}
		&-file {
			position: absolute;
			z-index: -1;
			opacity: 0;
			display: block;
			width: 0;
			height: 0;
		}
		&-checkbox {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
			&:checked {
				& ~ .feedback__input-checkbox-control::after {
					opacity: 1;
				}
			}
			&-control {
				position: relative;
				border: 2px solid var(--1-blue-color);
				border-radius: 3px;
				min-width: 18px;
				min-height: 18px;
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%) rotate(45deg);
					width: 5px;
					height: 10px;
					border: solid var(--1-blue-color);
					border-width: 0 2px 2px 0;
					opacity: 0;
					transition: opacity 0.3s;
				}
			}
		}
	}
	&__button {
		&-file {
			position: relative;
			cursor: pointer;
			font-weight: 700;
			font-size: 16px;
			line-height: 24px;
			color: var(--1-blue-color);
		}
		&-remove {
			cursor: pointer;
		}
		&-send {
			width: 100%;
			margin-bottom: 16px;
		}
	}
	&__label {
		&-file {
			position: relative;
			display: inline-block;
		}
		&-checkbox {
			display: flex;
			align-items: center;
			column-gap: 11px;
			cursor: pointer;
		}
	}
	&__item {
		&-file {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16px;
		}
	}
}

@media (max-width: 1024px) {
	.feedback {
		&__side {
			&-left {
				grid-column: 7 span;
			}
			&-right {
				grid-column: 5 span;
			}
			&__input {
				&::placeholder {
					content: "123123";
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.feedback {
		margin-top: 60px;
	}
}

@media (max-width: 630px) {
	.feedback {
		padding-bottom: 120px;
		&__side {
			&-left {
				grid-column: 12 span;
				padding-bottom: 0;
			}
			&-right {
				grid-column: 12 span;
			}
		}
		&__container {
			column-gap: 0;
			row-gap: 24px;
		}
		&__title {
			padding-top: 0;
		}
		& .line-horizontal-top {
			display: none;
		}
		& .line-vertical-right {
			display: none;
		}
	}
}
