.header {
	position: fixed;
	width: 100%;
	z-index: 100;
	background: var(--white-color);
	&__container {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 32px;
		border-bottom: 1px solid var(--black-color);
		padding-left: 8px;
		&-logo {
			position: relative;
			box-sizing: content-box;
			grid-column: 1 span;
		}
		&-title {
			position: relative;
			grid-column: 2 span;
			display: flex;
			justify-content: center;
			align-items: center;
			&::after {
				content: "";
				position: absolute;
				inset: -16px;
				top: 0;
				bottom: 0;
				background: var(--black-color);
				z-index: 3;
				opacity: 0;
				transition: opacity 0.3s ease;
			}
			&:last-of-type {
				&::after {
					right: 0;
				}
			}
			&:hover {
				&::after {
					opacity: 1;
				}
				& .title__h6 {
					z-index: 5;
					color: var(--white-color);
				}
			}
		}
		&-burger {
			position: relative;
			display: none;
			align-items: center;
			justify-content: center;
			grid-column: 2 span;
		}
	}
	&__link {
		color: var(--black-color);
		&-logo {
			display: block;
			padding-top: 11px;
			padding-bottom: 10px;
		}
	}
	&__picture {
		width: fit-content;
	}
	& .line-horizontal-bottom-hidden {
		display: none;
	}
	&__burger {
		display: none;
	}
}

@media (max-width: 1024px) {
	.header {
		&__container {
			&-logo {
				grid-column: 2 span;
			}
		}
	}
}

@media (max-width: 768px) {
	.header {
		&__container {
			column-gap: 16px;
			&-logo {
				grid-column: 1 span;
			}
			&-title {
				grid-column: 3 span;
				&::after {
					right: -8px;
					left: -8px;
				}
			}
		}
	}
}

@media (max-width: 616px) {
	.header {
		&__container {
			position: relative;
			&-logo {
				grid-column: 2 span;
			}
			&-title {
				grid-column: 6 span;
				padding-top: 8px;
				padding-bottom: 8px;
				&:first-of-type {
					&::after {
						left: 0;
					}
				}
			}
		}
		& .line-horizontal-bottom-hidden {
			display: block;
			bottom: 37px;
		}
	}
}

@media (max-width: 375px) {
	.header {
		&__container {
			&-title {
				grid-column: 8 span;
				padding: 0;
				&:last-of-type {
					&::after {
						right: -8px;
					}
				}
			}
			&-burger {
				display: flex;
			}
		}
		&__email {
			display: none;
		}
		& .line-horizontal-bottom-hidden {
			display: none;
		}
	}
}
