.header-1c {
	position: fixed;
	width: 100%;
	background: var(--white-color);
	z-index: 1000;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 12px;
		padding-bottom: 12px;
		&-logo {
			position: relative;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	&__link {
		font-weight: 700;
		font-size: 18px;
		display: flex;
		align-items: center;
		column-gap: 10px;
	}
	&__item {
		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}
	& .line {
		&-horizontal {
			&-bottom {
				bottom: 0px;
			}
		}
	}
}
