.header-1c {
	position: fixed;
	width: 100%;
	background: var(--white-color);
	z-index: 990;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 12px;
		padding-bottom: 12px;
		&-logo {
			position: relative;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		row-gap: 8px;
	}
	&__link {
		font-weight: 700;
		font-size: 18px;
		display: flex;
		align-items: center;
		column-gap: 10px;
	}
	& .line {
		&-horizontal {
			&-bottom {
				bottom: 0px;
			}
		}
	}
}

@media (max-width: 480px) {
	.header-1c {
		&__logo {
			width: 80px;
		}
	}
}
