<section class="client-1c">
	<div class="container container-1c client-1c__container">
		<h2 class="title__h2 client-1c__title">Как стать клиентом</h2>
		<h3 class="title__h3 client-1c__subtitle">
			ПОЛУЧИТЕ <span class="client-1c__subtitle-blue">3</span> БЕСПЛАТНЫЕ КОНСУЛЬТАЦИИ И <br />
			ПРИМИТЕ РЕШЕНИЕ О ДАЛЬНЕЙШЕМ СОТРУДНИЧЕСТВЕ
		</h3>
		<ul class="client-1c__list list-reset">
			<li class="client-1c__item">
				<div class="client-1c__container-image">
					<img
						loading="lazy"
						src="./img/notebook.svg"
						class="image"
						width="50"
						height="50"
						alt="Иконка записи"
					/>
				</div>
				<h4 class="title__h4 client-1c__text">
					Вы оставляете заявку на решение вопроса по "1С" и указываете свои контактные данные
				</h4>
				<span class="line line-vertical-right"></span>
				<span class="line line-horizontal-top"></span>
			</li>
			<li class="client-1c__item">
				<div class="client-1c__container-image">
					<img
						loading="lazy"
						src="./img/phone.svg"
						class="image"
						width="40"
						height="50"
						alt="Иконка телефона"
					/>
				</div>
				<h4 class="title__h4 client-1c__text">
					Мы уточняем с вами вопрос, согласовываем время его решения и планируем специалиста
				</h4>
				<span class="line line-vertical-right"></span>
				<span class="line line-horizontal-top"></span>
			</li>
			<li class="client-1c__item">
				<div class="client-1c__container-image">
					<img
						loading="lazy"
						src="./img/monitorUser.svg"
						class="image"
						width="50"
						height="50"
						alt="Иконка пользователя с монитором"
					/>
				</div>
				<h4 class="title__h4 client-1c__text">
					Специалист звонит вам, подключается через "удаленку" и решает ваш вопрос
				</h4>
				<span class="line line-horizontal-top"></span>
			</li>
		</ul>
	</div>
</section>
