<section class="contacts-1c">
	<div class="container container-1c contacts-1c__container">
		<div class="swiper contacts-1c__slider">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-first">
						МБУ "Специализированная служба по вопросам похоронного дела" Новокузнецкого городского округа
					</h4>
					<h4 class="title__h4 contacts-1c__name">Карсак Светлана Геннадьевна</h4>
					<h5 class="title__h5 contacts-1c__job">главный бухгалтер</h5>
					<h5 class="title__h5 contacts-1c__tel">
						<a class="contacts-1c__link" href="tel:83912484395">8 (391) 248-43-95</a>
					</h5>
					<p class="title__text contacts-1c__descr">
						"Довольны работой компании "Апогей". Получаем консультации от квалифицированных специалистов.
						Своевременно отвечают на наши вопросы. Всегда предоставляют полезную информацию по работе в
						программе 1С"
					</p>
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-second">Красноярский Край</h4>
				</div>
				<div class="swiper-slide">
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-first">
						МБУ "Специализированная служба по вопросам похоронного дела" Новокузнецкого городского округа
					</h4>
					<h4 class="title__h4 contacts-1c__name">Карсак Светлана Геннадьевна</h4>
					<h5 class="title__h5 contacts-1c__job">главный бухгалтер</h5>
					<h5 class="title__h5 contacts-1c__tel">
						<a class="contacts-1c__link" href="tel:83912484395">8 (391) 248-43-95</a>
					</h5>
					<p class="title__text contacts-1c__descr">
						"Довольны работой компании "Апогей". Получаем консультации от квалифицированных специалистов.
						Своевременно отвечают на наши вопросы. Всегда предоставляют полезную информацию по работе в
						программе 1С"
					</p>
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-second">Красноярский Край</h4>
				</div>
				<div class="swiper-slide">
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-first">
						МБУ "Специализированная служба по вопросам похоронного дела" Новокузнецкого городского округа
					</h4>
					<h4 class="title__h4 contacts-1c__name">Карсак Светлана Геннадьевна</h4>
					<h5 class="title__h5 contacts-1c__job">главный бухгалтер</h5>
					<h5 class="title__h5 contacts-1c__tel">
						<a class="contacts-1c__link" href="tel:83912484395">8 (391) 248-43-95</a>
					</h5>
					<p class="title__text contacts-1c__descr">
						"Довольны работой компании "Апогей". Получаем консультации от квалифицированных специалистов.
						Своевременно отвечают на наши вопросы. Всегда предоставляют полезную информацию по работе в
						программе 1С"
					</p>
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-second">Красноярский Край</h4>
				</div>
				<div class="swiper-slide">
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-first">
						МБУ "Специализированная служба по вопросам похоронного дела" Новокузнецкого городского округа
					</h4>
					<h4 class="title__h4 contacts-1c__name">Карсак Светлана Геннадьевна</h4>
					<h5 class="title__h5 contacts-1c__job">главный бухгалтер</h5>
					<h5 class="title__h5 contacts-1c__tel">
						<a class="contacts-1c__link" href="tel:83912484395">8 (391) 248-43-95</a>
					</h5>
					<p class="title__text contacts-1c__descr">
						"Довольны работой компании "Апогей". Получаем консультации от квалифицированных специалистов.
						Своевременно отвечают на наши вопросы. Всегда предоставляют полезную информацию по работе в
						программе 1С"
					</p>
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-second">Красноярский Край</h4>
				</div>
				<div class="swiper-slide">
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-first">
						МБУ "Специализированная служба по вопросам похоронного дела" Новокузнецкого городского округа
					</h4>
					<h4 class="title__h4 contacts-1c__name">Карсак Светлана Геннадьевна</h4>
					<h5 class="title__h5 contacts-1c__job">главный бухгалтер</h5>
					<h5 class="title__h5 contacts-1c__tel">
						<a class="contacts-1c__link" href="tel:83912484395">8 (391) 248-43-95</a>
					</h5>
					<p class="title__text contacts-1c__descr">
						"Довольны работой компании "Апогей". Получаем консультации от квалифицированных специалистов.
						Своевременно отвечают на наши вопросы. Всегда предоставляют полезную информацию по работе в
						программе 1С"
					</p>
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-second">Красноярский Край</h4>
				</div>
				<div class="swiper-slide">
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-first">
						МБУ "Специализированная служба по вопросам похоронного дела" Новокузнецкого городского округа
					</h4>
					<h4 class="title__h4 contacts-1c__name">Карсак Светлана Геннадьевна</h4>
					<h5 class="title__h5 contacts-1c__job">главный бухгалтер</h5>
					<h5 class="title__h5 contacts-1c__tel">
						<a class="contacts-1c__link" href="tel:83912484395">8 (391) 248-43-95</a>
					</h5>
					<p class="title__text contacts-1c__descr">
						"Довольны работой компании "Апогей". Получаем консультации от квалифицированных специалистов.
						Своевременно отвечают на наши вопросы. Всегда предоставляют полезную информацию по работе в
						программе 1С"
					</p>
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-second">Красноярский Край</h4>
				</div>
				<div class="swiper-slide">
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-first">
						МБУ "Специализированная служба по вопросам похоронного дела" Новокузнецкого городского округа
					</h4>
					<h4 class="title__h4 contacts-1c__name">Карсак Светлана Геннадьевна</h4>
					<h5 class="title__h5 contacts-1c__job">главный бухгалтер</h5>
					<h5 class="title__h5 contacts-1c__tel">
						<a class="contacts-1c__link" href="tel:83912484395">8 (391) 248-43-95</a>
					</h5>
					<p class="title__text contacts-1c__descr">
						"Довольны работой компании "Апогей". Получаем консультации от квалифицированных специалистов.
						Своевременно отвечают на наши вопросы. Всегда предоставляют полезную информацию по работе в
						программе 1С"
					</p>
					<h4 class="title__h4 contacts-1c__address contacts-1c__address-second">Красноярский Край</h4>
				</div>
			</div>
		</div>
		<div class="contacts-1c__navigation">
			<button class="btn-reset contacts-1c__button contacts-1c__button-prev">
				<svg class="contacts-1c__svg">
					<use xlink:href="img/sprite.svg#right-arrow"></use>
				</svg>
			</button>
			<button class="btn-reset contacts-1c__button contacts-1c__button-next">
				<svg class="contacts-1c__svg">
					<use xlink:href="img/sprite.svg#right-arrow"></use>
				</svg>
			</button>
		</div>
	</div>
	<div class="container container-1c contacts-1c__container">
		<div class="contacts-1c__container-pagination">
			<div class="contacts-1c__pagination" data-max-slides=""></div>
		</div>
		<button class="btn-reset button button__primary contacts-1c__button-faq">Задать вопрос по 1с</button>
	</div>
</section>
