<section class="cool">
	<div class="container cool__container">
		<div class="cool__container-left">
			<div class="cool__container-left-overlay"></div>
			<div class="cool__container-image"></div>
			<span class="line line-horizontal-top"></span>
			<span class="line line-horizontal-bottom"></span>
			<span class="line line-vertical-right"></span>
		</div>
		<div class="cool__container-right">
			<h2 class="cool__title title__bigtext">Вот почему мы крутые</h2>
			<ul class="cool__list liset-reset">
				<li class="cool__item title__h5">Реализуем адаптивную кроссбраузерную верстку</li>
				<li class="cool__item title__h5">Прекрасно пишем на нативном JS</li>
				<li class="cool__item title__h5">Избегаем использование сторонних фреймворков</li>
				<li class="cool__item title__h5">Разбираемся в препроцессорах LESS/SASS/SCSS</li>
				<li class="cool__item title__h5">Умеем делать правильную интеграцию c Битрикс, Битрикс24, WordPress</li>
				<li class="cool__item title__h5">
					При предоставлении определенного объема работ (Информацию можно уточнить у менеджера) готовы
					подстроить технологию разработки сайта под вас
				</li>
				<li class="cool__item title__h5">Используем Webpack/GULP</li>
				<li class="cool__item title__h5">Наша верстка соответсвует всем требованиям валидации</li>
				<li class="cool__item title__h5">Умеем писать кастомные анимации</li>
				<li class="cool__item title__h5">
					Без проблем поможем с регистрацией домена, хостинга и внедрением сайта
				</li>
				<li class="cool__item title__h5">SEO Friendly</li>
				<li class="cool__item title__h5">Всегда делаем Pixel-Perfect (допустимое отклониение 5px)</li>
				<li class="cool__item title__h5">При сдаче проекта проводим оптимизацию изображений и файлов</li>
				<li class="cool__item title__h5">Доступность сайта при низкоскоростном интернете</li>
			</ul>
			<button class="btn-reset button button__secondary cool__button" id="coolButton">Связаться</button>
			<span class="line line-horizontal-top"></span>
			<span class="line line-horizontal-bottom"></span>
		</div>
	</div>
</section>
