<section class="faq">
	<div class="container faq__container">
		<h2 class="faq__title-main title__bigtext">Часто спрашивают</h2>
		<ul class="faq__list list-reset">
			<li class="faq__accordion">
				<span class="line line-horizontal-top"></span>
				<div class="faq__container-control">
					<span class="faq__title-number">01</span>
					<div class="faq__control" aria-expanded="false">
						<span class="line line-vertical-left"></span>
						<h3 class="faq__title title__h3">
							<span class="faq__title-inner">Есть ли юридическое лицо</span>
						</h3>
						<div class="faq__content" aria-hidden="true">
							Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
						</div>
						<span class="line line-vertical-right"></span>
					</div>
				</div>
				<svg class="faq__icon">
					<use xlink:href="img/sprite.svg#ellipse"></use>
				</svg>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="faq__accordion">
				<span class="line line-horizontal-top"></span>
				<div class="faq__container-control">
					<span class="faq__title-number">02</span>
					<div class="faq__control" aria-expanded="false">
						<span class="line line-vertical-left"></span>
						<h3 class="faq__title title__h3">
							<span class="faq__title-inner">Почему ТЗ в figma</span>
						</h3>
						<div class="faq__content" aria-hidden="true">
							Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
						</div>
						<span class="line line-vertical-right"></span>
					</div>
				</div>
				<svg class="faq__icon">
					<use xlink:href="img/sprite.svg#ellipse"></use>
				</svg>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="faq__accordion">
				<span class="line line-horizontal-top"></span>
				<div class="faq__container-control">
					<span class="faq__title-number">03</span>
					<div class="faq__control" aria-expanded="false">
						<span class="line line-vertical-left"></span>
						<h3 class="faq__title title__h3">
							<span class="faq__title-inner">С какого момента начинается работа</span>
						</h3>
						<div class="faq__content" aria-hidden="true">
							Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
						</div>
						<span class="line line-vertical-right"></span>
					</div>
				</div>
				<svg class="faq__icon">
					<use xlink:href="img/sprite.svg#ellipse"></use>
				</svg>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="faq__accordion">
				<span class="line line-horizontal-top"></span>
				<div class="faq__container-control">
					<span class="faq__title-number">04</span>
					<div class="faq__control" aria-expanded="false">
						<span class="line line-vertical-left"></span>
						<h3 class="faq__title title__h3">
							<span class="faq__title-inner">Ценовая политика компании</span>
						</h3>
						<div class="faq__content" aria-hidden="true">
							Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
						</div>
						<span class="line line-vertical-right"></span>
					</div>
				</div>
				<svg class="faq__icon">
					<use xlink:href="img/sprite.svg#ellipse"></use>
				</svg>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="faq__accordion">
				<span class="line line-horizontal-top"></span>
				<div class="faq__container-control">
					<span class="faq__title-number">05</span>
					<div class="faq__control" aria-expanded="false">
						<span class="line line-vertical-left"></span>
						<h3 class="faq__title title__h3">
							<span class="faq__title-inner">Сколько времени занимает верстка сайта</span>
						</h3>
						<div class="faq__content" aria-hidden="true">
							Работы начинаются сразу после поступления оплаты на счет и ответа на наши возникшие вопросы.
						</div>
						<span class="line line-vertical-right"></span>
					</div>
				</div>
				<svg class="faq__icon">
					<use xlink:href="img/sprite.svg#ellipse"></use>
				</svg>
				<span class="line line-horizontal-bottom"></span>
			</li>
		</ul>
	</div>
</section>
