<section class="feedback">
	<div class="container feedback__container">
		<div class="feedback__side feedback__side-left">
			<span class="line line-horizontal-top"></span>
			<h2 class="feedback__title title__h2">
				У вас остались вопросы Или хотите заказать услугу? Тогда заполните форму
			</h2>
			<h5 class="feedback__subtitle title__h5">
				Менеджер свяжется с вами в ближайшее время и&nbsp;поможет подобрать лучшее решение и рассчитать
				стоимость
			</h5>
			<span class="line line-vertical-right"></span>
		</div>
		<div class="feedback__side feedback__side-right">
			<form class="feedback__form" enctype="multipart/form-data">
				<span class="line line-horizontal-top"></span>
				<input
					type="text"
					name="name"
					id="name"
					class="feedback__input input-name title__h5"
					placeholder="Имя"
				/>
				<input
					type="text"
					name="tel"
					id="tel"
					class="feedback__input input-tel title__h5"
					placeholder="Номер телефона"
				/>
				<input
					type="text"
					name="link"
					id="link"
					class="feedback__input input-link title__h5"
					placeholder="Ссылка на ТЗ в figma ( не обязательно )"
				/>
				<div class="feedback__container-input file-input__container">
					<div class="feedback__list-file"></div>
					<label class="feedback__label-file" for="file[]">
						<input class="feedback__input-file" type="file" name="file[]" id="file[]" multiple />
						<span class="feedback__button-file btn-reset">+ Прикрепить документ</span>
					</label>
				</div>
				<button class="btn-reset button button__primary-dark feedback__button-send">Отправить</button>
				<label class="feedback__label-checkbox" for="conf">
					<input class="feedback__input-checkbox" type="checkbox" name="conf" id="conf" />
					<div class="feedback__input-checkbox-control"></div>
					<span class="title__h6">
						Нажимая на кнопку “Отправить” вы соглашаетесь с политикой конфиденциальности
					</span>
				</label>
			</form>
		</div>
	</div>
</section>
