<footer class="footer">
	<div class="container">
		<div class="footer__container">
			<span class="line line-horizontal-top"></span>
			<span class="line line-horizontal-bottom line-horizontal-bottom-hidden"></span>
			<div class="footer__container-logo">
				<a href="./" class="footer__link-logo">
					<picture class="footer__picture">
						<img
							loading="lazy"
							src="./img/logo.svg"
							class="image footer__logo"
							width="70"
							height="49"
							alt="Логотип"
						/>
					</picture>
				</a>
				<span class="line line-vertical-right"></span>
			</div>
			<nav class="nav" title="Навигационная панель">
				<ul class="nav__list list-reset">
					<li class="nav__item">
						<a href="#" class="nav__link title__h6">Портфолио</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link title__h6">Почему мы</a>
					</li>
					<li class="nav__item">
						<a href="#" class="nav__link title__h6">Контакты</a>
					</li>
				</ul>
				<span class="line line-vertical-right"></span>
			</nav>
			<a class="footer__container-title footer__email" href="mailto:v@opti.ooo">
				<h6 class="title__h6">v@opti.ooo</h6>
				<span class="line line-vertical-right"></span>
			</a>
			<a class="footer__container-title" href="tel:83512258005">
				<h6 class="title__h6">8 (351) 225-80-05</h6>
			</a>
		</div>
		<div class="footer__container-bottom">
			<h6 class="title__h6">© 2023 OPTI</h6>
			<a href="#" class="footer__link-policy title__h6" download>Политика конфиденциальности</a>
			<a href="mailto:ivanoc199833@mail.ru" class="footer__link-mail title__h6">Написать дизайнеру сайта</a>
			<span class="line line-horizontal-bottom footer__line-horizontal-bottom"></span>
		</div>
	</div>
</footer>
