<header class="header-1c fixed-block">
	<span class="line line-horizontal-bottom"></span>
	<div class="container container-1c header-1c__container">
		<div class="header-1c__container-logo">
			<a href="#" class="header-1c__link-logo">
				<img
					loading="lazy"
					src="./img/logo-1c.svg"
					class="image header-1c__logo"
					width="126"
					height="80"
					alt="Логотип"
				/>
			</a>
		</div>
		<ul class="header-1c__list list-reset">
			<li class="header-1c__item">
				<a href="tel:88002016216" class="header-1c__link title__h6">
					<img
						loading="lazy"
						src="./img/phone.svg"
						class="image"
						width="16"
						height="18"
						alt="Иконка телефона"
					/>
					8 (800) 201-62-16
				</a>
			</li>
			<li class="header-1c__item">
				<a
					href="mailto:v@opti.ooo
				"
					class="header-1c__link title__h6"
				>
					<img loading="lazy" src="./img/mail.svg" class="image" width="16" height="18" alt="Иконка письма" />
					v@opti.ooo
				</a>
			</li>
			<!-- <li class="header-1c__item">
				<a href="#" class="header-1c__link title__h6">
					<img loading="lazy" src="./img/job.svg" class="image" width="25" height="20" alt="Иконка работы" />
					Работать у нас
				</a>
			</li> -->
		</ul>
	</div>
</header>
