<section class="hero">
	<div class="container">
		<div class="hero__container">
			<h1 class="title__bigtext hero__title">ВЕРСТКА ВЕБ-САЙТОВ 1 В 1 ПО ДИЗАЙН-МАКЕТУ</h1>
			<h5 class="title__h5 hero__text">
				За годы работы, c 2016-го года, мы не раз убеждались, что грамотное внедрение и осознанный выбор
				инструментов CRM и автоматизации приносят конкретную пользу и помогают продавать больше
			</h5>
			<button class="btn-reset button button__primary hero__button" id="openOrderForm">Заказать</button>
		</div>
	</div>
</section>
