<section class="hero-1c">
	<div class="container container-1c hero-1c__container">
		<div class="hero-1c__container-left">
			<h1 class="title__h1 hero-1c__title">
				Главному бухгалтеру <span class="hero-1c__title-bigger">ГОСУЧРЕЖДЕНИЯ</span>
			</h1>
			<h2 class="title__h2 hero-1c__subtitle">РЕШАЙТЕ АБСОЛЮТНО ЛЮБЫЕ ВОПРОСЫ ПО "1С" С "АПОГЕЕМ"</h2>
			<ul class="hero-1c__list list-reset">
				<li class="hero-1c__item">
					<img
						loading="lazy"
						src="./img/signal.svg"
						class="image"
						width="51"
						height="50"
						alt="Иконка сигнал"
					/>
					<div class="hero-1c__container-inner">
						<h3 class="title__h3 hero-1c__title-item">258 859</h3>
						<p class="title__h6 hero-1c__text">вопросов решено в 2022 году</p>
					</div>
					<span class="line line-vertical-right"></span>
					<span class="line line-horizontal-top"></span>
				</li>
				<li class="hero-1c__item">
					<img loading="lazy" src="./img/clock.svg" class="image" width="51" height="50" alt="Иконка часов" />
					<div class="hero-1c__container-inner">
						<h3 class="title__h3 hero-1c__title-item">74%</h3>
						<p class="title__h6 hero-1c__text">вопросов решено в первый день</p>
					</div>
					<span class="line line-horizontal-top"></span>
				</li>
			</ul>
		</div>
		<div class="hero-1c__container-right">
			<form class="hero-1c__form"></form>
		</div>
	</div>
</section>
