<section class="steps">
	<div class="container steps__container">
		<h2 class="title__bigtext steps__title-main">Этапы работы</h2>
		<ul class="steps__list list-reset">
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">
						<span class="steps__title-inner">Мы связываемся с вами</span>
					</h2>
				</div>
				<div class="steps__content" aria-hidden="true">
					<h5 class="title__h5">Под какую платформу выполняется вёрстка</h5>
				</div>
				<span class="line line-horizontal-top"></span>
				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2"><span class="steps__title-inner">Получение ТЗ в Figma</span></h2>
				</div>
				<div class="steps__content" aria-hidden="true">
					<h5 class="title__h5">Под какую платформу выполняется вёрстка</h5>
				</div>

				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">
						<span class="steps__title-inner">Согласование требований</span>
					</h2>
				</div>
				<div class="steps__content" aria-hidden="true">
					<h5 class="title__h5">Под какую платформу выполняется вёрстка</h5>
				</div>

				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">
						<span class="steps__title-inner">Оценка стоимости и получение предоплаты 50%</span>
					</h2>
				</div>
				<div class="steps__content" aria-hidden="true">
					<h5 class="title__h5">Под какую платформу выполняется вёрстка</h5>
				</div>

				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">
						<span class="steps__title-inner">Вёрстка и предоставление готовых страниц для проверки</span>
					</h2>
				</div>
				<div class="steps__content" aria-hidden="true">
					<h5 class="title__h5">Под какую платформу выполняется вёрстка</h5>
				</div>

				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">
						<span class="steps__title-inner">Расчёт за выполненные работы</span>
					</h2>
				</div>
				<div class="steps__content" aria-hidden="true">
					<h5 class="title__h5">Под какую платформу выполняется вёрстка</h5>
				</div>

				<span class="line line-horizontal-bottom"></span>
			</li>
			<li class="steps__accordion">
				<div class="steps__control" aria-expanded="false">
					<h2 class="steps__title title__h2">
						<span class="steps__title-inner">Передача результата выполненных работ</span>
					</h2>
				</div>
				<div class="steps__content" aria-hidden="true">
					<h5 class="title__h5">Под какую платформу выполняется вёрстка</h5>
				</div>

				<span class="line line-horizontal-bottom"></span>
			</li>
		</ul>
	</div>
</section>
