<section class="why">
	<div class="container why__container">
		<h2 class="title__h2 why__title">Почему к нам обращаются</h2>
		<ul class="why__list list-reset">
			<li class="why__item why__item-1">
				<h3 class="title__h3 why__subtitle">Понимание</h3>
				<p class="title__h5 why__text">
					Мы знаем, что такое хороший дизайн и грамотно настроенное SEO. Это позволяет лучше адаптировать
					работу под конечного потребителя.
				</p>
				<span class="line line-horizontal-top"></span>
				<span class="line line-vertical-right"></span>
			</li>
			<li class="why__item why__item-2">
				<h3 class="title__h3 why__subtitle">Ответственность</h3>
				<p class="title__h5 why__text">
					90% работ сданы в срок. 70% клиентов принимают наши улучшения. Внимательно относимся к мелочам
				</p>
				<span class="line line-horizontal-top"></span>
				<span class="line line-vertical-right line-vertical-right-tohide"></span>
			</li>
			<li class="why__item why__item-3">
				<h3 class="title__h3 why__subtitle">Серьезный подход</h3>
				<p class="title__h5 why__text">
					Мы не кучка фрилансеров, а четко скоординированная команда, имеющая правила и цели. Работаем
					официально.
				</p>
				<span class="line line-horizontal-top"></span>
			</li>
		</ul>
	</div>
</section>
