// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/title";
@import "./components/button";
@import "./components/line";
@import "./components/burger";
@import "./components/main-1c";
@import "./components/header-1c";
@import "./components/hero-1c";
@import "./components/client-1c";
@import "./components/contacts-1c";
@import "./components/popup-1c";
